/* 
*  Entrance Animations
*/

/**
 * Home content animations run when the page loads.
 *
 * `both` means:
 * - before the animation starts, keep the styles from `from`
 * - after the animation finishes, keep the styles from `to`
 */

#home .intro {
    animation: fade-up 0.7s ease-out both;
}

#home .image {
    animation: fade-up 0.8s 0.15s ease-out both;
}


/**
 * Scroll-based animations.
 *
 * These animations depend on the element's position
 * inside the viewport instead of animation duration.
 *
 * `both` means:
 * - before the animation range → use `from`
 * - after the animation range → keep `to`
 *
 * entry 0%: when we reach the element we cover 30% of the animation
 */

#technologies li,
.project-card {
    animation: fade-up linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}


@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}