.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

footer {
    box-shadow: 1px 0 20px #c4b4ff;
}

footer > div {
    background-color: #1a202e;
}

footer a {
    min-width: 2.75rem;
    min-height: 2.75rem;
    display: grid;
    place-items: center;
    color: var(--ternary-color) !important;
    font-size: 1.25rem;
}

footer a:hover {
    color: var(--primary-color) !important;
}

footer p:first-child {
    color: var(--primary-color);
}

footer p:last-child {
    margin-bottom: 0;
    color: white;
    font-size: 0.75rem;
}
