@import url("./variables.css");

#home .main-container .image {
    padding: var(--container-padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--image-radius);
}

#home .main-container img {
    width: 100%;
}

#home h1:first-of-type {
    margin-bottom: 25px;
}
#home h1 span {
  font-size: 55px;
  color: var(--primary-color);
}

#home h2 {
    margin-bottom: 20px;
    color: var(--ternary-color);
}

#home .intro {
    padding: var(--container-padding);
}

#home p {
    margin-right: 10px;
}
