nav {
    box-shadow: 0 1px 20px #c4b4ff;
}

nav .nav-container {
    height: 100%;
    margin: var(--section-margin);
}

nav a:first-of-type {
    color: var(--primary-color) !important;
}

nav a {
    height: 100%;
    color: #47c0d3 !important;
}

nav a:hover {
    color: #ffffff !important;
}

nav a.active {
    color: #c4b4ff !important;
    text-shadow: 0 0 10px #ffffff;
}

/*
 * Target navigation links and give them a special style while active.
 */
body:has(#home:target) .nav-link[href="#home"],
body:has(#technologies:target) .nav-link[href="#technologies"],
body:has(#about:target) .nav-link[href="#about"],
body:has(#projects:target) .nav-link[href="#projects"],
body:has(#contact:target) .nav-link[href="#contact"] {
    color: #c4b4ff !important;
    text-shadow: 0 0 10px #ffffff;
}
